/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "bits";
@import "type";
@import "windy";
@import "plugins";

* {
	@include box-sizing(border-box);
}

html {
	background: darken(white,5%);
}

.container {
	width: 90%;
	max-width: 800px;
	background: darken(white,2%);
	margin: 0 auto;
	margin-top: -4em;
	padding: 5em 20px;
	@include box-shadow(0 0 30px rgba(black,.1));
}

.main-header {
	padding: 0 0 1em;
	width: 700px;
	margin: 0 auto;
	border-bottom: 1px solid darken(white,10%);

	h1 {
		font-size: 2.5em;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.25em;
		font-weight: normal;
	}
}

.windy-demo {
	width: 100%;
	margin: 2em auto;
	color: #aaa;
	display: block;
	height: auto;
}

.windy-demo ul.wi-container {
	@include box-shadow(0 0 5px rgba(black,.1));
}

.windy-demo h2 {
	padding: 2em 30px 1em;
	line-height: 26px;
	margin: 0;
}

.windy-demo ul.wi-container li {
	padding: 0;
	border: 10px solid #fff;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slider, #slider2 {
	width: 200px;
	margin: 10px auto 20px;
	border: none;
	background: lighten(black,70%);
	@include border-radius(5px);
	@include box-shadow(none);
	@include background-image(linear-gradient(lighten(black,70%), lighten(black,50%)));
	@include box-shadow(0 0 5px rgba(black,.8) inset);
}

#slider a, #slider2 a {
	outline: none;
	cursor: pointer;
	border: none;
	background: white;
	border-radius: 50%;
	box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}

img {
	width: 100%;
	height: auto;
}

.main-footer {
	@extend .main-header;
	border-bottom: none;
	border-top: 1px solid darken(white,10%);
	overflow: hidden;
	padding-top: 2em;
	margin-top: 7em;

	p {
		float: left;
	}
}

.footer-nav {
	float: right;
	list-style: none;

	li {
		float: left;
		padding-right: 1em;

		&:last-child {
			padding-right: 0;
		}
	}
}